body {
	margin: 0;
	padding: 0;
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li:last-child {
  margin-right: 0;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.about-me .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me .col-md-4 {
  order: 1;
  margin-bottom: 2rem;
}

.about-me .col-md-8 {
  order: 2;
  text-align: center;
}

  .projects-container {
  background-color: #777;
  width: 100%;
  padding-top: 25px;
    }

    .project {
    	display: flex;
    	padding-left: 200px;
    	padding-right: 200px;
    }
    